<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="social, shareable christmas lists">
    <meta property="og:title" content="listmas" />
    <meta property="og:url" content="http://listmas.io" />
    <meta property="og:image" content="http://previews.123rf.com/images/oksun70/oksun701208/oksun70120800012/14726712-Christmas-funny-baby-in-Santa-Claus-clothes-Stock-Photo.jpg" />
    <meta property="og:description" content="social, shareable christmas lists" />
  <title>listmas</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html { height: 100%; }
    body {
        background-color: #fff;
        min-height: 100%;
    }

    a {
        color: #3273DC;
    }

    a:visited {
        color: #3273DC;
    }

    i:hover {
        color: #3273DC;
    }

</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>

  <div class="section">
      <div class='columns'>
          <div class='column auto'></div>
          <div class='column is-half'>
            <div id="header" style="text-align:center" class="container">
                <p class="title is-1" style="color:red; font-size:120px;">Listmas</p>
                <p class="subtitle is-4">Create, share, and enjoy your gifts!</p>
                <img src="giphy.webp" style="width:200px">
            </div>
            <hr>
              <div id="main-div"></div>
              <br>
              <br>
          </div>
          <div class='column auto'></div>
      </div>

  </div>

    <footer class="footer" style="background-color: #fff;">
      <div class="container" style="text-align:center">
          <p>Ryan & Donovan <span>
            <a class="icon" target="_newwtab" href="https://github.com/ryantuck/listmas">
              <i class="fa fa-github"></i>
            </a>
          </span> Tuck
          </p>
      </div>
    </footer>


    <script type="text/template" id="item">
        <div class="container">
            <div class="item-container box">
                <div class="columns">
                    <div class="column">
                        <div class="item-display">
                            <h3 class="title is-3 item-display-title"><%= title %></h3>
                            <p class="title is-5">
                                <a class="item-link" href="<%= link %>" target="_newtab">link</a>
                            </p>
                        </div>
                        <div class="item-edit">
                            <p class="control">
                            <input type="text" placeholder="rubik's cube" class="input item-editing-title">
                            </p>
                            <p class="control">
                            <input type="text" placeholder="https://amazon.com" class="input item-editing-link">
                            </p>
                        </div>
                    </div>
                    <div class="column item-buttons" style="text-align:right">
                        <button class="edit-item button is-info is-outlined">Edit</button>
                        <button class="stop-edit-item button is-info is-outlined">Done</button>

                        <button class="delete-item button is-danger is-outlined">Delete</button>

                        <button class="claim-item button is-success is-outlined">Claim</button>
                        <button class="cancel-claim-item button is-dark is-outlined">Nope</button>
                        <button class="confirm-claim-item button is-success is-outlined">yep, claim</button>

                        <button class="is-claimed button is-success is-disabled">CLAIMED</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </script>

    <script type="text/template" id="app">

        <div class="columns container">
            <div id="list-id-generator" class="column" style="text-align:center">
                <p>Step 1: Make a list.</p>
                <p>Step 2: Add items.</p>
                <p>Step 3: Include links.</p>
                <p>Step 4: Share with friends and family.</p>
                <p>Step 5: No double-buying.</p>
                <p>Step 6: Get what you want!</p>
                <br>
                <button id="generate-list" class="button is-success is-medium is-outlined">New list</button>
            </div>
        </div>
        <div id="current-list-container" class="container">
            <hr>
            <div class="columns">
                <div class="column" style="text-align:center">
                    <p class="title is-3">
                    <a id="shareable-link" href="http://listmas.io"></a>
                    </p>
                </div>
            </div>
            <br>
            <div id="check-owner" style="text-align:center">
                <div id="list-options-div">
                    <button id="start-edit" class="button is-info is-medium is-outlined">edit this list</button>
                    <button id="start-view" class="button is-success is-medium is-outlined">view this list</button>
                </div>
                <div id="confirm-edit-div">
                    <p class="title is-1">  🙃  </p>
                    <p class="title is-5">you're gonna edit this list - please be nice</p>
                    <br>
                    <button id="cancel-edit" class="button is-dark is-medium is-outlined">nope</button>
                    <button id="confirm-edit" class="button is-info is-medium is-outlined">yep, edit</button>
                </div>
                <div id="confirm-view-div">
                    <p class="title is-1">  😬  </p>
                    <p class="title is-5">you're gonna view this list, and see which items on this list are claimed   </p>
                    <br>
                    <button id="cancel-view" class="button is-dark is-medium is-outlined">Nope</button>
                    <button id="confirm-view" class="button is-success is-medium is-outlined">Yes, view</button>
                </div>
            </div>
            <div id="add-item-container">
                <div class="columns">
                    <p class="column is-half" style="text-align:center">
                        <input type="text" id="new-item" placeholder="rubik's cube" class="input">
                    </p>
                    <p class="column is-one-third" style="text-align:center">
                        <input type="text" id="new-item-link" placeholder="http://amazon.com/cubes/0" class="input">
                    </p>
                    <div class="column" style="text-align:center">
                        <button type="submit" id="add-button" class="button is-info is-outlined">add item</button>
                    </div>
                </div>
            </div>
            <br>
            <div id="list">
                <div style="text-align:center">
                    <p class="title is-1">  😧  </p>
                    <p class="title is-3">no items in list yet</p>
                </div>
                <ul id="stuff"></ul>
            </div>
        </div>
        <div id="missing-list-container" style="text-align:center">
            <br>
            <p class="title is-1"> 🤔   </p>
            <p class="title is-3">list does not exist!</p>
        </div>
    </script>

  <script src="listmas.js"></script>
</body>
</html>
